<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/cssLinks')%>
</head>
<body>
    <div class="container">
        <!-- NAVBAR -->
        <%- include('partials/navbar')%>
        <!-- NAVBAR END-->
        <hr>
        <!-- CONTENT -->
        <%- include('content/' + content)%>
        <!-- CONTENT END-->
        <hr>
        <!-- FOOTER -->
        <%- include('partials/footer')%>
        <!-- FOOTER END-->
    </div>


    <%- include('partials/jsLinks')%>
</body>
</html>