<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <style>
        .dark{
            background-color: #2e2e2e;
            color: #e2e2e2;
        }
        .light{
            background-color: #e2e2e2;
            color: #2e2e2e;
        }
        

    </style>
  </head>
  <body class="<%= dark==true ? "dark" : "light"%>">
    <h1><%= title%></h1>
    <%= content%> <% if(dark){%>
    <h2>Dark Mode</h2>
    <% }else{%>
    <h2>Light Mode</h2>
    <% }%>
    <ul>
        <% data.forEach(car=>{ %>
            <li <%= car.model >= 2010 ? 'style=color:red': ""%>>Brand: <%= car.name%> | Model: <%= car.model%></li>
            <%})%>
    </ul>
  </body>
</html>
