<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <!-- Import css, js links -->
    <%- include('partials/links')%>
  </head>

  <body class="<%= dark==true? 'dark': 'light'%>">
    <div class="container">
      <!-- navbar starts -->
      <%- include('partials/navbar')%>
      <!-- navbar end -->
      <h1><%= title%></h1>
      <%= content%> 
    
    <div class="row">
        <!-- example for each one product -->
        <div class="col-md-4">
            <h2>Product name</h2>
            <ul>
                <li>Brand: Brand</li>
                <li>Model: Model</li>
                <li>Power: power</li>
                <li>Gear: Gear</li>
                <li>Fuel: fuel</li>
                <li>prise: prise</li>
                <li>Doors: doors</li>
                <a href="">Read more</a>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Product name</h2>
            <ul>
                <li>Brand: Brand</li>
                <li>Model: Model</li>
                <li>Power: power</li>
                <li>Gear: Gear</li>
                <li>Fuel: fuel</li>
                <li>prise: prise</li>
                <li>Doors: doors</li>
                <a href="">Read more</a>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Product name</h2>
            <ul>
                <li>Brand: Brand</li>
                <li>Model: Model</li>
                <li>Power: power</li>
                <li>Gear: Gear</li>
                <li>Fuel: fuel</li>
                <li>prise: prise</li>
                <li>Doors: doors</li>
                <a href="">Read more</a>
            </ul>
        </div>
    </div>
</div>
    <script>
      // alert('<%= title%>')
    </script>
  </body>
</html>